<h2>List of All Patients</h2>
  <% @patients.each do |patient| %>
    <li><%= patient.name %></li>
  <% end %>

<h2>Search for a Patient:</h2>
  <%= text_field_tag :query_string %>
  <a id="patient-search">Search by Last Name</a>

<div id="search-results"></div>

<script type="text/javascript">

jQuery(function($) {

  $("#patient-search").on("click",function() {
    console.log("searching");
    var query_string = $("#query_string").val();
    queryForPatients(query_string);
  });

  queryForPatients = function(query) {
    $.getJSON("<%= patients_path %>?search=" + query ,function(json){

      var destination = $("#search-results");
      destination.html("");
      console.log("searching for patients - " + json);
        for(var i = 0; i < json.length; i++) {
          var currentPatient = json[i];
          console.log(currentPatient);

          var patientHTML = "<h4><a href='"+currentPatient.url + "'>" + currentPatient.name + "</a></h4>";

          destination.append(patientHTML);
        }
    });
  };
});
</script>


